[submodule "MovieWebsite"]
	path = MovieWebsite
	url = https://github.com/AlphaRant9/MovieWebsite
[submodule "CaseStudyProject"]
	path = CaseStudyProject
	url = https://github.com/AlphaRant9/CaseStudyProject
