[submodule "PutzRevengeOfTheSith"]
	path = PutzRevengeOfTheSith
	url = https://github.com/AlphaRant9/PutzRevengeOfTheSith
[submodule "CaseStudyProject"]
	path = CaseStudyProject
	url = https://github.com/AlphaRant9/CaseStudyProject
