main {

    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    display: block;

}

body {

    color: #FFFF99;
    background-color: black;
    background-image: url("images/background.webp");
    background-repeat: repeat;
    background-size: auto;
    font-family: Verdana, Arial, sans-serif;
    font-weight: bold;

}

#wrapper {

    width: 65%;
    height: 100%;
    min-width: 500px;
    max-width: 2200px;
    margin: 3.5em auto;
    background-color: #000044;
    background-image: url("images/panel.jpg");
    box-shadow: 0 0 50px 20px white;
    border-radius: 10px;
    padding: 1em;

}

h1 {

    padding: 0.5em;
    text-align: center;
    background-color: rgba(0, 0, 0, 30%);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;

}

nav {

    text-align: center;
    background-color: rgba(0, 0, 0, 25%);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 15px;

}

nav a {

    color: #FFFF77;
    font-weight: bolder;

}

p {

    text-align: right;
    background-color: rgba(0, 0, 0, 25%);
    width: fit-content;
    border-radius: 15px;
    padding: 8px;

}

span {

     text-align: right;
     background-color: rgba(0, 0, 0, 25%);
     width: fit-content;
     border-radius: 15px;
     padding: 8px;

 }

#thumbnail {

    position: relative;

}

#thumbnail span {

    overflow: auto;
    height: 700px;
    background-image: url("images/thumb.jpg");
    background-size: auto 700px;
    background-repeat: no-repeat;
    background-clip: text;
    padding-left: 40%;
    display: inline-block;
    margin-left: 20px;
    margin-right: 0;

}